<section class="card">
    <a href="/event/{{Event.event_id}}">
        <header>{{Event.event_author}}</header>
        <img src="/images/{{Event.locations.[0].filename}}" alt="{{Event.locations.[0].description}}">
    </a>
</section>