<section class="card">
<h3>{{event.event_title}}</h3>
<p>Posted By: {{event.event_author}}</p>
{{!-- <p> {{> location-details}} </p> --}}
<p>Details: {{event.event_content}}</p>

<p>   Number of Attendees: {{event.event_attendees}}</p>   
