<section class="location">
  <img src="/images/{{location.filename}}" alt="{{location.description}}">
  <div class="location-details">
    <h3>{{Location.title}}</h3>
    <p>At: {{location.artist}}</p>
  </div>
</section>